In [1]:
import numpy as np

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from plotly.offline import iplot
import cufflinks as cf

cufflinks connects plotly with pandas

plotly is an interative data library

In [2]:
tips = sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
mean_total_bill = tips['total_bill'].mean()
mean_total_bill

np.float64(19.78594262295082)

In [8]:
categ = tips.groupby('tip')['total_bill'].mean() 
categ

tip
1.00      7.167500
1.01     16.990000
1.10     12.900000
1.17     32.830000
1.25      9.696667
           ...
6.70     34.300000
6.73     48.270000
7.58     39.420000
9.00     48.330000
10.00    50.810000
Name: total_bill, Length: 123, dtype: float64